form {
    width: 100%;
    padding: 32px 0 16px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 32px;
}

form input,
form textarea {
    width: 320px;
    max-width: 85%;
    height: 15px;
    padding: 8px;
    font-size: 1.4rem;
    outline: none;
    border: 1px solid #00b8e6;
    border-radius: 10px;
    outline: none;

}

form textarea {
    resize: vertical;
    overflow: hidden;
    margin-top: 32px;
    margin-bottom: 16px;
}

form button {
    font-size: 1.6rem;
    color: #ffffff;
    cursor: pointer;
    width: 336px;
    max-width: 90%;
    height: 39px;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #00b8e6;
    background-color: #00b8e6;
    outline: none;
    transition: .2s ease-in-out;


}

form button:hover {
    background-color: #0093b8;
    border: 1px solid #0093b8;
}