@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
}

body {
  background: #F5F6F7;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;

  flex-direction: column;

}